.app {
  background-color: rgba(255, 255, 255, 0.9);
}
.app-header {
  padding: 2%; text-align: center;
  background-color: rgb(79, 79, 79); color: white;
  font-size: calc(16px + 4vmin);
}
.app-header > span {
  background: -webkit-gradient(linear, left top, right top,
      from(rgb(255, 255, 255)), color-stop(25%, rgb(205, 205, 205)), color-stop(50%, rgb(0, 255, 255)),
      color-stop(75%, rgb(255, 247, 0)), to(rgb(212, 255, 0)));
      background-clip: text;
      -webkit-text-fill-color: transparent;
}
